<section class="footer-four">
    <div class="pt-120 tw-mx-48-px position-relative gradient-bg-bottom-top">
        <div class="container">
            <div
                class="d-flex tw-gap-6 border-top border-bottom d-flex justify-content-between flex-lg-nowrap flex-wrap">
                <div class="tw-pt-100-px tw-pb-80-px">
                    <a [routerLink]="'/index'" class="link hover--translate-y-1 active--translate-y-scale-9 tw-mb-6">
                        <img src="assets/images/logo/logo-four.png" alt="">
                    </a>
                    <p class="max-w-250-px tw-text-lg text-neutral-600">Build a modern and creative website with
                        crealand</p>
                    <div class="tw-mt-6 d-flex flex-column gap-4">
                        <div class="d-flex align-items-center tw-gap-205">
                            <span class="">
                                <img src="assets/images/icons/phone-icon.png" alt="Icon">
                            </span>
                            <span class="fw-semibold text-heading">+806 (000) 88 99</span>
                        </div>
                        <div class="d-flex align-items-center tw-gap-205">
                            <span class="">
                                <img src="assets/images/icons/message-icon.png" alt="Icon">
                            </span>
                            <span class="fw-semibold text-heading">contact@info.com</span>
                        </div>
                    </div>
                </div>
                <div class="d-lg-flex d-none">
                    <div class="tw-w-1-px h-100 bg-neutral-200"></div>
                </div>
                <div class="tw-pt-100-px tw-pb-80-px">
                    <div class="">
                        <h5 class="fw-semibold fw-bold text-heading tw-mb-8 text-uppercase">Our Location</h5>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                    class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Overview</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                    class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Features</a>
                            </li>
                            <li>
                                <a [routerLink]="'/contact'"
                                    class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Solutions</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                    class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Tutorials</a>
                            </li>
                            <li class="mb-0">
                                <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                    class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Pricing</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-lg-flex d-none">
                    <div class="tw-w-1-px h-100 bg-neutral-200"></div>
                </div>
                <div class="tw-pt-100-px tw-pb-80-px">
                    <div class="">
                        <h5 class="fw-semibold fw-bold text-heading tw-mb-8 text-uppercase">Contact info</h5>
                        <ul class="d-flex flex-column tw-gap-4">
                            <li>
                                <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                    class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Partners</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                    class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Partners
                                    Program</a>
                            </li>
                            <li>
                                <a [routerLink]="'/contact'"
                                    class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Affiliate
                                    Program</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                    class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Community</a>
                            </li>
                            <li class="mb-0">
                                <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                    class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">HR
                                    Partner Program</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-lg-flex d-none">
                    <div class="tw-w-1-px h-100 bg-neutral-200"></div>
                </div>
                <div class="tw-pt-100-px tw-pb-80-px">
                    <div class="">
                        <h5 class="fw-semibold fw-bold text-heading tw-mb-8 text-uppercase">Newsletter</h5>
                        <form class="position-relative common-shadow-twentySeven rounded-pill">
                            <input type="text"
                                class="form-control shadow-none bg-white border border-white focus-border-main-600 text-heading fw-medium tw-px-6 tw-py-4 rounded-pill focus-outline-0 tw-ps-12 tw-pe-14"
                                placeholder="Enter your e-mail">
                            <span
                                class="text-neutral-600 tw-text-xl position-absolute tw-start-0 top-50 translate-middle-y tw-ms-5 tw-leading-none d-flex">
                                <i class="ph-bold ph-envelope-simple"></i>
                            </span>
                            <button type="button"
                                class="flex-grow-1 hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-one button--stroke align-items-center d-flex justify-content-center tw-gap-5 group active--translate-y-2 rounded-pill fw-bold p-0 tw-w-11 tw-h-11 bg-main-600 tw-text-xl text-heading rounded-circle position-absolute tw-end-0 top-50 translate-middle-y tw-me-2"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label"><i class="ph-bold ph-arrow-up-right"></i></span>
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-four-bottom tw-pb-6 tw-pt-7">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap">
                    <p class="fw-semibold text-heading">Copyright &copy; 2024 by <a [routerLink]="'/index'"
                            class="text-blue hover-underline">wowtheme7</a> . All Rights Reserved</p>
                    <div class="d-flex align-items-center tw-gap-305">
                        <button type="button"
                            class="fw-bold p-0 tw-w-11 tw-h-11 border border-neutral-200 bg-white hover-bg-main-600 tw-text-xl text-heading hover-border-main-600 tw-duration-300 rounded-circle">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </button>
                        <button type="button"
                            class="fw-bold p-0 tw-w-11 tw-h-11 border border-neutral-200 bg-white hover-bg-main-600 tw-text-xl text-heading hover-border-main-600 tw-duration-300 rounded-circle">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </button>
                        <button type="button"
                            class="fw-bold p-0 tw-w-11 tw-h-11 border border-neutral-200 bg-white hover-bg-main-600 tw-text-xl text-heading hover-border-main-600 tw-duration-300 rounded-circle">
                            <i class="ph-fill ph-instagram-logo"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
