<!-- Nav menu Start -->
<ul class="nav-menu d-lg-flex align-items-center" [ngClass]="menuClass">

  <!-- ================= HOME ================= -->
  <li
    class="nav-menu__item"
    [class.activePage]="isHomeActive()"
    [routerLinkActive]="'activePage'">

    <a
      [routerLink]="'/home'"
      (click)="onNavLinkClick()"
      class="nav-menu__link hover--translate-y-1 text-heading tw-py-9 fw-semibold w-100">
      Home
    </a>

  </li>


  <!-- ================= FEATURES ================= -->
  <li
    class="nav-menu__item has-submenu position-relative"
    [class.activePage]="isFeaturesActive()"
    [class.active]="isSubmenuActive('features')"
    (mouseenter)="onSubmenuMouseEnter('features')"
    (mouseleave)="onSubmenuMouseLeave()">

    <a
      href="javascript:void(0)"
      (click)="toggleSubmenu($event, 'features')"
      class="nav-menu__link hover--translate-y-1 tw-pe-5 text-heading tw-py-9 fw-semibold w-100">
      Features
    </a>

    <ul
      class="nav-submenu scroll-sm position-absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99"
      [class.show]="isSubmenuActive('features')"
      [style.display]="isSubmenuActive('features') ? 'block' : 'none'"
      (mouseenter)="onSubmenuMouseEnter('features')"
      (mouseleave)="onSubmenuMouseLeave()">

      <!-- Product Overview -->
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
        [routerLinkActive]="'activePage'">

        <a
          [routerLink]="'/features'"
          (click)="onNavLinkClick()"
          class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Product Overview
        </a>

      </li>


      <!-- Feature Details -->
      <!-- <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
        [routerLinkActive]="'activePage'">

        <a
          [routerLink]="'/feature-details'"
          (click)="onNavLinkClick()"
          class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Feature Details
        </a>

      </li> -->


      <!-- Compare -->
      <li
        class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative"
        [routerLinkActive]="'activePage'">

        <a
          [routerLink]="'/compare'"
          (click)="onNavLinkClick()"
          class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-100 d-block tw-py-2 tw-px-305 tw-rounded">
          Compare
        </a>

      </li>

    </ul>

  </li>


  <!-- ================= PRICING ================= -->
  <li
    class="nav-menu__item"
    [class.activePage]="isPricingActive()"
    [routerLinkActive]="'activePage'">

    <a
      [routerLink]="'/pricing'"
      (click)="onNavLinkClick()"
      class="nav-menu__link hover--translate-y-1 text-heading tw-py-9 fw-semibold w-100">
      Pricing
    </a>

  </li>


  <!-- ================= ABOUT US ================= -->
  <li
    class="nav-menu__item"
    [class.activePage]="isAboutActive()"
    [routerLinkActive]="'activePage'">

    <a
      [routerLink]="'/about'"
      (click)="onNavLinkClick()"
      class="nav-menu__link hover--translate-y-1 text-heading tw-py-9 fw-semibold w-100">
      About Us
    </a>

  </li>

</ul>
<!-- Nav menu End -->