<!-- ========================== Top header two start =============================== -->
<div class="tw-pt-3 tw-pb-4 position-absolute top-0 tw-start-0 tw-end-0 w-100 tw-z-991">
    <div class="container max-w-1290-px">
        <div class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap">

            <div class="d-flex align-items-center tw-gap-2 d-sm-flex d-none">
                <span class="text-white tw-text-base d-flex tw-leading-none">
                    <i class="ph-bold ph-envelope-simple"></i>
                </span>
                <span class="text-neutral-300 fw-medium tw-text-sm">example@gmail.com</span>
            </div>

            <div class="d-flex align-items-center tw-gap-2 d-lg-flex d-none">
                <span class="text-white tw-text-base d-flex tw-leading-none">
                    <i class="ph-bold ph-tag"></i>
                </span>
                <span class="text-neutral-300 fw-medium tw-text-sm">Hosting Flash Sale: Starting at $2.59/mo for a limited time</span>
            </div>

            <div class="d-flex align-items-center tw-gap-705 justify-content-between justify-content-sm-start flex-sm-grow-0 flex-grow-1">
                <div class="d-flex align-items-center tw-gap-2">
                    <span class="text-white tw-text-base d-flex tw-leading-none">
                        <i class="ph-bold ph-chat"></i>
                    </span>
                    <a [routerLink]="'/live-chat'" class="text-neutral-300 fw-medium tw-text-sm hover-text-white">Live Chat</a>
                </div>
                <div class="d-flex align-items-center tw-gap-2">
                    <span class="text-white tw-text-base d-flex tw-leading-none">
                        <i class="ph-bold ph-user"></i>
                    </span>
                    <a [routerLink]="'/login'" class="text-neutral-300 fw-medium tw-text-sm hover-text-white">Login</a>
                </div>

                <div class="group-item has-submenu has-submenu--arrow-end position-relative">
                    <a href="javascript:void(0)" (click)="$event.preventDefault()" class="selected-text text-neutral-300 fw-medium tw-text-sm hover-text-white tw-pe-405">{{ selectedCurrency }}</a>
                    <ul class="selectable-text-list tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-transition tw-duration-200 bg-neutral-700 tw-py-4 d-flex flex-column tw-gap-1 shadow tw-rounded-md position-absolute top-100 tw-end-0 tw-w-140-px tw-z-99 tw-max-h-260-px overflow-y-auto scroll-sm">
                        <li *ngFor="let currency of currencyOptions">
                            <a href="javascript:void(0)" (click)="selectCurrency(currency)" class="text-neutral-300 fw-medium tw-text-sm hover-text-white tw-transition tw-px-4">
                                {{ currency }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ========================== Top header two end =============================== -->
