<app-breadcrumb title="Blog"></app-breadcrumb>

<!-- ========================= Blog Start ============================ -->
<section class="py-120">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-8">
        <div class="d-flex flex-column tw-gap-15">

          <!-- Blog Loop -->
          <div *ngFor="let blog of blogs" data-aos="fade-up" data-aos-duration="800">
            <div class="position-relative">
              <a [href]="blog.link" class="w-100 h-100 overflow-hidden tw-rounded-3xl">
                <img [src]="blog.image" alt="" class="w-100 h-100 object-fit-cover hover-scale-108 tw-duration-500">
              </a>
              <h6
                class="blog-date tw-duration-300 tw-py-4 text-white d-flex justify-content-center align-items-center max-w-85-px w-100 tw-px-4 text-center tw-rounded-lg fw-medium position-absolute top-0 tw-start-0 tw-mt-4 tw-ms-4 bg-main-600 fw-bold font-body">
                {{ blog.date }}
              </h6>
            </div>
            <div class="tw-mt-10">
              <div class="tw-mb-4 d-flex align-items-center tw-gap-205 flex-wrap">
                <div class="d-flex align-items-center tw-gap-2">
                  <span class="text-main-600 tw-text-lg">
                    <i class="ph ph-user"></i>
                  </span>
                  <span class="text-neutral-600 tw-text-sm">{{ blog.author }}</span>
                </div>
                <span class="tw-w-205 border border-neutral-200"></span>
                <div class="d-flex align-items-center tw-gap-2">
                  <span class="text-main-600 tw-text-lg">
                    <i class="ph-bold ph-chats-circle"></i>
                  </span>
                  <span class="text-neutral-600 tw-text-sm">Comments ({{ blog.comments }})</span>
                </div>
                <span class="tw-w-205 border border-neutral-200"></span>
                <div class="d-flex align-items-center tw-gap-2">
                  <span class="text-main-600 tw-text-lg">
                    <i class="ph ph-clock"></i>
                  </span>
                  <span class="text-neutral-600 tw-text-sm">{{ blog.readTime }}</span>
                </div>
              </div>
              <h4 class="tw-mb-4">
                <a [href]="blog.link" class="splitTextStyleOne">{{ blog.title }}</a>
              </h4>
              <p class="tw-text-lg text-neutral-600 max-w-730-px splitTextStyleOne">{{ blog.excerpt }}</p>
              <a [href]="blog.link"
                class="text-uppercase tw-text-sm text-main-two-600 fw-bold hover-text-main-600 d-flex align-items-center tw-gap-4 tw-mt-11 tw-tracking-wider">
                Read More
                <span class="arrow-long"><img src="assets/images/icons/arrow-long.svg" alt=""></span>
              </a>
            </div>
          </div>
          <!-- Blog Loop End -->

        </div>
      </div>

      <div class="col-lg-4 ps-xl-5 ps-lg-4">

        <!-- Sidebar Start -->
        <div class="d-flex flex-column tw-gap-8">

          <!-- Author -->
          <div class="bg-neutral-50 tw-px-8 text-center tw-py-17" data-aos="fade-up" data-aos-duration="800">
            <div class="tw-w-95-px tw-h-95-px rounded-circle d-inline-flex">
              <img [src]="author.image" alt="" class="w-100 h-100 object-fit-cover">
            </div>
            <h6 class="tw-text-base tw-mb-1 tw-mt-4 splitTextStyleOne">{{ author.name }}</h6>
            <span class="text-neutral-600 tw-text-sm splitTextStyleTwo">{{ author.role }}</span>
            <p class="tw-mt-5 text-neutral-600">{{ author.bio }}</p>
            <ul class="d-flex align-items-center tw-gap-3 justify-content-center tw-mt-6">
              <li *ngFor="let social of author.socials">
                <a [href]="social.link"
                  class="tw-w-11 tw-h-11 border border-neutral-200 rounded-0 text-main-two-600 tw-text-xl d-flex justify-content-center align-items-center bg-white hover-bg-main-600 hover-text-white hover-border-main-600 active-scale-09 tw-duration-200">
                  <i [class]="social.icon"></i>
                </a>
              </li>
            </ul>
          </div>

          <!-- Recent News -->
          <div class="bg-neutral-50 tw-px-8 tw-py-8" data-aos="fade-up" data-aos-duration="800">
            <h5 class="border-start border-4 border-main-600 text-main-two-600 tw-ps-2 splitTextStyleOne tw-mb-6">Recent
              News</h5>
            <div class="d-flex flex-column tw-gap-8">
              <div class="d-flex align-items-center tw-gap-6" *ngFor="let post of recentPosts">
                <a [href]="post.link" class="tw-rounded-md overflow-hidden flex-shrink-0">
                  <img [src]="post.image" alt="" class="w-100 h-100 object-fit-cover hover-scale-2 tw-duration-500">
                </a>
                <div>
                  <div class="d-flex align-items-center tw-gap-2">
                    <span class="text-main-600 tw-text-lg">
                      <i class="ph-bold ph-calendar-dots"></i>
                    </span>
                    <span class="text-main-two-600 fw-medium tw-text-sm">{{ post.date }}</span>
                  </div>
                  <h6 class="tw-mt-2">
                    <a [href]="post.link"
                      class="tw-text-base line-clamp-2 text-main-two-600 hover-text-main-600 splitTextStyleOne">{{
                      post.title }}</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>

          <!-- Categories -->
          <div class="bg-neutral-50 tw-px-8 tw-py-8" data-aos="fade-up" data-aos-duration="800">
            <h5 class="border-start border-4 border-main-600 text-main-two-600 tw-ps-2 splitTextStyleOne tw-mb-6">
              Categories</h5>
            <div class="d-flex flex-column tw-gap-5">
              <a *ngFor="let category of categories" [href]="category.link"
                class="bg-white tw-py-4 tw-px-6 text-main-two-600 hover-text-white hover-bg-main-600 group tw-text-lg fw-medium d-flex align-items-center justify-content-between">
                {{ category.name }}
                <span class="text-main-two-600 group-hover-text-white tw-duration-300 d-flex">
                  {{ category.count }}
                </span>
              </a>
            </div>
          </div>

          <!-- Tags -->
          <div class="bg-neutral-50 tw-px-8 tw-py-8" data-aos="fade-up" data-aos-duration="800">
            <h5 class="border-start border-4 border-main-600 text-main-two-600 tw-ps-2 splitTextStyleOne tw-mb-6">
              Popular Tags</h5>
            <div class="d-flex tw-gap-3 flex-wrap">
              <a *ngFor="let tag of tags" [href]="tag.link"
                class="bg-white tw-py-4 tw-px-6 text-main-two-600 hover-text-white hover-bg-main-600 tw-text-sm fw-medium text-center d-inline-block">
                {{ tag.name }}
              </a>
            </div>
          </div>

        </div>
        <!-- Sidebar End -->

      </div>
    </div>

  </div>
</section>
<!-- ========================= Blog End ============================ -->
<!-- ================================= Task Management Section Start ============================== -->
<section class="task-management bg-pink-more-light-half drag-rotate-element-section @@sectionClass">
  <div class="container">
    <div class="text-end tw--mb-40-px position-relative z-2">
      <img src="assets/images/thumbs/laptop-man.png" alt="Image" class="tw-me-84-px">
    </div>

    <div class="bg-green-deep tw-rounded-3xl bg-green-deep tw-pt-100-px position-relative z-1">
      <img src="assets/images/shapes/hill-shape.png" alt="Hill Shape"
        class="position-absolute w-100 h-100 top-0 tw-start-0 z-n1">
      <img src="assets/images/thumbs/task-management-img.png" alt="Image"
        class="position-absolute tw-end-0 top-0 tw-me-5 tw-mt-5 d-lg-block d-none">

      <div class="tw-mb-8 text-center max-w-570-px mx-auto">
        <div
          class="tw-py-3 tw-px-305 rounded-pill fw-medium text-capitalize tw-leading-none d-inline-flex align-items-center tw-gap-2 tw-mb-405 min-w-max text-white bg-white-13"
          data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
          <div class="">
            Up to <span class="text-yellow text-stroke-yellow">70%</span> off managed cloud hosting
          </div>
        </div>
        <h3 class="splitTextStyleOne text-white">
          Ready to revolutionize our service?
        </h3>

        <div class="@@singleBtn">
          <a [routerLink]="'/#'"
            class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-px-13 rounded-0 tw-py-6 fw-bold tw-mt-7"
            data-block="button">
            <span class="button__flair"></span>
            <div class="d-flex align-items-center tw-gap-2 z-1">
              <span class="button__label">Download for free</span>
            </div>
          </a>
        </div>
        <div class="@@multipleBtn">
          <div class="d-flex align-items-center tw-gap-4 justify-content-center flex-wrap">
            <a [routerLink]="'/#'"
              class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-px-705 tw-rounded-2xl tw-py-6 fw-bold tw-mt-7"
              data-block="button">
              <span class="button__flair"></span>
              <div class="d-flex align-items-center tw-gap-2 z-1">
                <span class="button__label">Get Started Trial</span>
              </div>
            </a>
            <a [routerLink]="'/#'"
              class="hover--translate-y-1 active--translate-y-scale-9 btn hover-style-two button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-px-705 tw-rounded-2xl tw-py-6 fw-bold tw-mt-7"
              data-block="button">
              <span class="button__flair"></span>
              <div class="d-flex align-items-center tw-gap-2 z-1">
                <span class="button__label">Get Started Trial</span>
              </div>
            </a>
          </div>
        </div>

      </div>
      <div class="tw-pt-8 text-center">
        <div
          class="myContainer position-relative d-flex flex-wrap align-items-center justify-content-center tw-gap-6 tw-pt-16 overflow-hidden w-100 tw-px-6">

          <span *ngFor="let tag of tags2"
            class="drag-rotate-element cursor-grab min-w-max z-1 tw-px-9 tw-py-2 fw-semibold rounded-pill"
            [ngClass]="[tag.textColor, tag.bgClass]">
            {{ tag.label }}
          </span>

        </div>
      </div>

    </div>
  </div>
</section>
<!-- ================================= Task Management Section End ============================== -->