<app-breadcrumb title="Resources & Blog"></app-breadcrumb>

<!-- =========================================================
     PEOPLEVAULT BLOG START
========================================================= -->

<section class="py-120 peoplevault-blog-section">

  <div class="container">

    <!-- =====================================================
         BLOG HEADER
    ====================================================== -->

    <div
      class="peoplevault-blog-header text-center mx-auto"
      data-aos="fade-up"
      data-aos-duration="800"
    >

      <span class="peoplevault-blog-badge">
        PEOPLEVAULT RESOURCES
      </span>

      <h1 class="peoplevault-blog-heading">
        HR Knowledge for
        <span>Better Workforce Management.</span>
      </h1>

      <p class="peoplevault-blog-intro">
        Explore useful HR guidance, product education and PeopleVault
        updates to help your organization simplify HR operations,
        improve workforce management and make better decisions.
      </p>

    </div>


    <!-- =====================================================
         MAIN CONTENT
    ====================================================== -->

    <div class="row gy-5">

      <!-- ===================================================
           LEFT - BLOG ARTICLES
      ==================================================== -->

      <div class="col-lg-8">

        <div class="d-flex flex-column tw-gap-15">

          <!-- =================================================
               BLOG LOOP
          ================================================== -->

          <article
            *ngFor="let blog of blogs; trackBy: trackByBlogId"
            class="peoplevault-blog-card"
            data-aos="fade-up"
            data-aos-duration="800"
          >

            <!-- =================================================
                 BLOG IMAGE
            ================================================== -->

            <div class="peoplevault-blog-image position-relative">

              <a
                href="javascript:void(0)"
                (click)="debugArticle(blog.articleId)"
                class="w-100 h-100 d-block overflow-hidden"
              >

                <img
                  [src]="blog.image"
                  [alt]="blog.title"
                  class="w-100 h-100 object-fit-cover"
                >

              </a>


              <!-- Category -->

              <span class="peoplevault-blog-category">
                {{ blog.category }}
              </span>

            </div>


            <!-- =================================================
                 BLOG CONTENT
            ================================================== -->

            <div class="peoplevault-blog-content">

              <!-- Title -->

              <h4 class="peoplevault-blog-title">

                <a
                  href="javascript:void(0)"
                  (click)="debugArticle(blog.articleId)"
                >
                  {{ blog.title }}
                </a>

              </h4>


              <!-- Description -->

              <p class="peoplevault-blog-excerpt">
                {{ blog.excerpt }}
              </p>


              <!-- =================================================
                   READ ARTICLE
              ================================================== -->

              <a
                href="javascript:void(0)"
                (click)="debugArticle(blog.articleId)"
                class="peoplevault-read-more"
              >

                <span>
                  Read Article
                </span>

                <i class="ph ph-arrow-up-right"></i>

              </a>

            </div>

          </article>

          <!-- =================================================
               BLOG LOOP END
          ================================================== -->

        </div>

      </div>


      <!-- ===================================================
           RIGHT - SIDEBAR
      ==================================================== -->

      <div class="col-lg-4 ps-xl-5 ps-lg-4">

        <div class="peoplevault-sidebar">


          <!-- =================================================
               PEOPLEVAULT AUTHOR / BRAND
          ================================================== -->

          <div
            class="peoplevault-sidebar-card peoplevault-author-card"
            data-aos="fade-up"
            data-aos-duration="800"
          >

            <div class="peoplevault-brand-icon">

              <img
                [src]="author.image"
                [alt]="author.name"
              >

            </div>


            <h5>
              {{ author.name }}
            </h5>


            <span>
              {{ author.role }}
            </span>


            <p>
              {{ author.bio }}
            </p>


            <!-- Social Links -->

            <ul class="peoplevault-socials">

              <li *ngFor="let social of author.socials">

                <a
                  [href]="social.link"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Social media"
                >

                  <i [class]="social.icon"></i>

                </a>

              </li>

            </ul>

          </div>


          <!-- =================================================
               RECENT ARTICLES
          ================================================== -->

          <div
            class="peoplevault-sidebar-card"
            data-aos="fade-up"
            data-aos-duration="800"
          >

            <h5 class="peoplevault-sidebar-title">
              Latest Articles
            </h5>


            <div class="peoplevault-recent-list">

              <div
                class="peoplevault-recent-item"
                *ngFor="let post of recentPosts"
              >

                <!-- Recent Image -->

                <a
                  href="javascript:void(0)"
                  (click)="debugArticle(post.articleId)"
                  class="peoplevault-recent-image"
                >

                  <img
                    [src]="post.image"
                    [alt]="post.title"
                  >

                </a>


                <!-- Recent Content -->

                <div class="peoplevault-recent-content">

                  <span>
                    {{ post.category }}
                  </span>

                  <h6>

                    <a
                      href="javascript:void(0)"
                      (click)="debugArticle(post.articleId)"
                    >
                      {{ post.title }}
                    </a>

                  </h6>

                </div>

              </div>

            </div>

          </div>


          <!-- =================================================
               CATEGORIES
          ================================================== -->

          <div
            class="peoplevault-sidebar-card"
            data-aos="fade-up"
            data-aos-duration="800"
          >

            <h5 class="peoplevault-sidebar-title">
              Explore Topics
            </h5>


            <div class="peoplevault-category-list">

              <a
                *ngFor="let category of categories"
                [routerLink]="category.link"
              >

                <span>
                  {{ category.name }}
                </span>

                <span class="category-count">
                  {{ category.count }}
                </span>

              </a>

            </div>

          </div>


          <!-- =================================================
               POPULAR TAGS
          ================================================== -->

          <div
            class="peoplevault-sidebar-card"
            data-aos="fade-up"
            data-aos-duration="800"
          >

            <h5 class="peoplevault-sidebar-title">
              Popular Topics
            </h5>


            <div class="peoplevault-tags">

              <a
                *ngFor="let tag of tags"
                [routerLink]="tag.link"
              >

                {{ tag.name }}

              </a>

            </div>

          </div>


        </div>

      </div>

    </div>

  </div>

</section>


<!-- =========================================================
     PEOPLEVAULT CTA
========================================================= -->

<section class="peoplevault-blog-cta">

  <div class="container">

    <div class="peoplevault-cta-box">

      <div class="peoplevault-cta-content">

        <span class="peoplevault-cta-badge">
          PEOPLEVAULT HRMS
        </span>


        <h2>
          Ready to Simplify Your HR?
        </h2>


        <p>
          Bring employees, HR processes and workforce information
          together with PeopleVault HRMS.
        </p>


        <div class="peoplevault-cta-buttons">

          <!-- Primary CTA -->

          <a
            routerLink="/book-demo"
            class="peoplevault-primary-btn"
          >

            <span>
              Book a Demo
            </span>

            <i class="ph ph-arrow-up-right"></i>

          </a>


          <!-- Secondary CTA -->

          <a
            routerLink="/features"
            class="peoplevault-secondary-btn"
          >

            <span>
              Explore Features
            </span>

            <i class="ph ph-arrow-right"></i>

          </a>

        </div>

      </div>

    </div>

  </div>

</section>

<!-- =========================================================
     PEOPLEVAULT BLOG END
========================================================= -->