<!-- ========================== Footer Six Start ============================= -->
<footer class="footer-six section-box position-relative z-1 overflow-hidden tw-mt-705 bg-neutral-100 tw-mb-10">
    <div class="container">
        <div
            class="tw-pt-10 tw-pb-10 border-bottom border-neutral-300 d-flex align-items-center flex-sm-nowrap flex-wrap justify-content-between tw-gap-6">
            <h4 class="max-w-388-px">Get Our Latest's News & Updates</h4>
            <form class="position-relative common-shadow-twentySeven rounded-pill max-w-602-px w-100">
                <input type="text"
                    class="form-control shadow-none bg-white border border-white focus-border-main-600 text-heading fw-medium tw-px-6 tw-py-4 rounded-pill focus-outline-0 tw-ps-12 tw-pe-14"
                    placeholder="Business email address">
                <span
                    class="text-neutral-600 tw-text-xl position-absolute tw-start-0 top-50 translate-middle-y tw-ms-5 tw-leading-none d-flex">
                    <i class="ph-bold ph-envelope-simple"></i>
                </span>
                <button type="button"
                    class="flex-grow-1 hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-one button--stroke align-items-center d-flex justify-content-center tw-gap-5 group active--translate-y-2 rounded-pill fw-bold p-0 tw-w-11 tw-h-11 bg-main-600 tw-text-xl text-heading rounded-circle position-absolute tw-end-0 top-50 translate-middle-y tw-me-2 hover-text-white"
                    data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label"><i class="ph-bold ph-arrow-up-right"></i></span>
                </button>
            </form>
        </div>

        <div class="pt-120 tw-pb-17">
            <div class="row gy-4">
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-six-item">
                        <a [routerLink]="'/index'" class="link hover--translate-y-1 active--translate-y-scale-9 tw-mb-6">
                            <img src="assets/images/logo/logo-four.png" alt="">
                        </a>
                        <p class="max-w-250-px tw-text-lg text-neutral-600">Our highly skilled development teams
                            specialized in data analysis.</p>
                        <div class="d-flex align-items-center tw-gap-3 tw-mt-705">
                            <a [routerLink]="'/https://www.facebook.com'"
                                class="fw-bold p-0 tw-w-11 tw-h-11 border border-neutral-200 bg-white hover-bg-main-two-600 hover-text-white tw-text-xl text-heading hover-border-main-600 tw-duration-300 rounded-circle common-shadow-one d-flex justify-content-center align-items-center">
                                <i class="ph-fill ph-facebook-logo"></i>
                            </a>
                            <a [routerLink]="'/https://www.twitter.com'"
                                class="fw-bold p-0 tw-w-11 d-flex justify-content-center align-items-center tw-h-11 border border-neutral-200 bg-white hover-bg-main-two-600 hover-text-white tw-text-xl text-heading hover-border-main-600 tw-duration-300 rounded-circle common-shadow-one">
                                <i class="ph-fill ph-twitter-logo"></i>
                            </a>
                            <a [routerLink]="'/https://www.instagram.com'"
                                class="fw-bold p-0 tw-w-11 tw-h-11 border border-neutral-200 bg-white hover-bg-main-two-600 hover-text-white tw-text-xl text-heading hover-border-main-600 tw-duration-300 rounded-circle common-shadow-one d-flex justify-content-center align-items-center">
                                <i class="ph-fill ph-instagram-logo"></i>
                            </a>
                            <a [routerLink]="'/https://www.pinterest.com'"
                                class="fw-bold p-0 tw-w-11 tw-h-11 border border-neutral-200 bg-white hover-bg-main-two-600 hover-text-white tw-text-xl text-heading hover-border-main-600 tw-duration-300 rounded-circle common-shadow-one d-flex justify-content-center align-items-center">
                                <i class="ph-fill ph-pinterest-logo"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-six-item">
                        <div class="">
                            <h5 class="fw-semibold fw-bold text-heading tw-mb-8 text-uppercase">Developers</h5>
                            <ul class="d-flex flex-column tw-gap-4">
                                <li>
                                    <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                        class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">API
                                        Documentation </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                        class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Integration
                                        Guide
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="'/contact'"
                                        class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">SDK
                                        Downloads</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                        class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Status
                                        Page
                                    </a>
                                </li>
                                <li class="mb-0">
                                    <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                        class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Help
                                        Center
                                    </a>
                                </li>
                                <li class="mb-0">
                                    <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                        class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Support
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-six-item">
                        <div class="">
                            <h5 class="fw-semibold fw-bold text-heading tw-mb-8 text-uppercase">Solutions</h5>
                            <ul class="d-flex flex-column tw-gap-4">
                                <li>
                                    <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                        class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Point
                                        of Sale (POS)
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                        class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Online
                                        Payments</a>
                                </li>
                                <li>
                                    <a [routerLink]="'/contact'"
                                        class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">QR
                                        Code Payments
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                        class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Subscription
                                        Billing</a>
                                </li>
                                <li class="mb-0">
                                    <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                        class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">International
                                        Payments</a>
                                </li>
                                <li class="mb-0">
                                    <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                        class="hover-arrow-start text-heading hover-underline hover--translate-y-1 active--translate-y-scale-9">Mobile
                                        Wallet Integration</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="footer-six-item">
                        <div class="">
                            <h5 class="fw-semibold fw-bold text-heading tw-mb-8 text-uppercase">Contact Us </h5>
                            <div class="tw-mt-6 d-flex flex-column tw-gap-5">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="">
                                        <img src="assets/images/icons/contact-six-icon1.png" alt="Icon">
                                    </span>
                                    <h6 class="fw-semibold text-heading">+806 (000) 88 99</h6>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="">
                                        <img src="assets/images/icons/contact-six-icon2.png" alt="Icon">
                                    </span>
                                    <span class="fw-semibold text-heading">contact@info.com</span>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="">
                                        <img src="assets/images/icons/contact-six-icon3.png" alt="Icon">
                                    </span>
                                    <span class="fw-semibold text-heading">1234 North Avenue Luke Lane,
                                        South Bend, </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-four-bottom">
            <div class="container">
                <div
                    class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap border-top border-neutral-300 tw-py-7">
                    <p class="fw-semibold text-heading">Copyright &copy; 2025 <a [routerLink]="'/index'"
                            class="text-blue hover-underline">wowtheme7</a> All Rights Reserved by</p>
                    <ul class="d-flex align-items-center flex-wrap tw-gap-4">
                        <li>
                            <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                class="text-neutral-500 fw-semibold hover-text-neutral-900 hover-underline hover--translate-y-1 active--translate-y-scale-9">Faqs</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                class="text-neutral-500 fw-semibold hover-text-neutral-900 hover-underline hover--translate-y-1 active--translate-y-scale-9">Setting</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                class="text-neutral-500 fw-semibold hover-text-neutral-900 hover-underline hover--translate-y-1 active--translate-y-scale-9">Privacy</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="$event.preventDefault()"
                                class="text-neutral-500 fw-semibold hover-text-neutral-900 hover-underline hover--translate-y-1 active--translate-y-scale-9">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>
<!-- ========================== Footer Six End ============================= -->
