<!-- mega menu start -->
<div
    class="mega-menu tw-p-6 tw-rounded-lg scroll-sm nav-submenu position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md tw-z-99"
    [class.show]="show"
    (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="row g-4 row-cols-1 row-cols-lg-3 row-cols-xl-4">
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                    <a [routerLink]="'/index'" class="d-block" (click)="onNavLinkClick()">
                        <img src="assets/images/thumbs/home-img1.png" alt="Home Page Image"
                            class="tw-h-440-px w-100 object-fit-cover object-top">
                    </a>
                    <div class="d-lg-flex d-none">
                        <div
                            class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none">
                        </div>
                        <div
                            class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                            <a [routerLink]="'/index'"                                 class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Live Preview</span>
                                <span
                                    class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tw-mt-4 text-center">
                    <a [routerLink]="'/index'" (click)="onNavLinkClick()"
                        class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1">IT
                        Solution</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                    <a [routerLink]="'/index-2'" class="d-block" (click)="onNavLinkClick()">
                        <img src="assets/images/thumbs/home-img2.png" alt="Home Page Image"
                            class="tw-h-440-px w-100 object-fit-cover object-top">
                    </a>
                    <div class="d-lg-flex d-none">
                        <div
                            class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none">
                        </div>
                        <div
                            class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                            <a [routerLink]="'/index-2'"                                 class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Live Preview</span>
                                <span
                                    class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tw-mt-4 text-center">
                    <a [routerLink]="'/index-2'" (click)="onNavLinkClick()"
                        class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1">Web
                        Hosting</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                    <a [routerLink]="'/index-3'" class="d-block" (click)="onNavLinkClick()">
                        <img src="assets/images/thumbs/home-img3.png" alt="Home Page Image"
                            class="tw-h-440-px w-100 object-fit-cover object-top">
                    </a>
                    <div class="d-lg-flex d-none">
                        <div
                            class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none">
                        </div>
                        <div
                            class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                            <a [routerLink]="'/index-3'"                                 class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Live Preview</span>
                                <span
                                    class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tw-mt-4 text-center">
                    <a [routerLink]="'/index-3'" (click)="onNavLinkClick()"
                        class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1">Task
                        Management</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                    <a [routerLink]="'/home'" class="d-block" (click)="onNavLinkClick()">
                        <img src="assets/images/thumbs/home-img4.png" alt="Home Page Image"
                            class="tw-h-440-px w-100 object-fit-cover object-top">
                    </a>
                    <div class="d-lg-flex d-none">
                        <div
                            class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none">
                        </div>
                        <div
                            class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                            <a [routerLink]="'/home'"                                 class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Live Preview</span>
                                <span
                                    class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tw-mt-4 text-center">
                    <a [routerLink]="'/home'" (click)="onNavLinkClick()"
                        class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1">CRM
                        Software
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                    <a [routerLink]="'/index-5'" class="d-block" (click)="onNavLinkClick()">
                        <img src="assets/images/thumbs/home-img5.png" alt="Home Page Image"
                            class="tw-h-440-px w-100 object-fit-cover object-top">
                    </a>
                    <div class="d-lg-flex d-none">
                        <div
                            class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none">
                        </div>
                        <div
                            class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                            <a [routerLink]="'/index-5'"                                 class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Live Preview</span>
                                <span
                                    class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tw-mt-4 text-center">
                    <a [routerLink]="'/index-5'" (click)="onNavLinkClick()"
                        class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1">App
                        Landing</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                    <a [routerLink]="'/index-6'" class="d-block" (click)="onNavLinkClick()">
                        <img src="assets/images/thumbs/home-img6.png" alt="Home Page Image"
                            class="tw-h-440-px w-100 object-fit-cover object-top">
                    </a>
                    <div class="d-lg-flex d-none">
                        <div
                            class="mega-menu-item__overlay position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-scale-08 group-hover-item-scale-1 tw-rounded-lg pointer-event-none">
                        </div>
                        <div
                            class="mega-menu-item__buttons position-absolute top-0 tw-start-0 w-100 h-100 d-flex justify-content-center align-items-center flex-column tw-gap-4 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1">
                            <a [routerLink]="'/index-6'"                                 class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-705 group active--translate-y-2 tw-p-1 tw-ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Live Preview</span>
                                <span
                                    class="tw-w-12 tw-h-12 bg-white text-main-600 tw-text-xl rounded-circle d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right tw-rotate--45-deg group-hover-item-rotate-0-deg tw-duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tw-mt-4 text-center">
                    <a [routerLink]="'/index-6'" (click)="onNavLinkClick()"
                        class="text-heading hover-text-main-600 fw-semibold tw-text-md text-capitalize line-clamp-1">Payment
                        Solution</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="position-relative border border-neutral-200 tw-rounded-lg overflow-hidden">
                    <span class="d-block">
                        <img src="assets/images/thumbs/coming-soon-img.png" alt="Home Page Image"
                            class="tw-h-440-px w-100 object-fit-cover object-top">
                    </span>
                </div>
                <div class="tw-mt-4 text-center">
                    <span class="text-heading fw-semibold tw-text-md text-capitalize line-clamp-1">Home 7</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mega menu end -->
